<div class="w-full flex justify-start">
  <img src="/assets/images/bawah.png" alt="Bottom Decoration" class="w-auto h-auto object-contain" />
</div>
<style>
  /* @media (max-width: 768px) {
    img {
      max-height: 100px !important;
    }
  }
  @media (max-width: 480px) {
    img {
      max-height: 80px !important;
    }
  } */
</style>