<!-- bg putih  -->
<div class="bg-white w-full h-[33px]"></div>
<!-- logo kanan kiri  -->
<div class="w-full flex justify-between items-center">
  <img src="/assets/images/kiri.png" alt="Logo Kiri" class="h-6 sm:h-8 md:h-10 w-auto object-contain" />
  <img src="/assets/images/kanan.png" alt="Logo Kanan" class="h-6 sm:h-8 md:h-10 w-auto object-contain" />
</div>
<div class="w-full flex flex-col items-center mt-6 sm:mt-8">
  <img src="/assets/images/logo-group-fix.png" alt="Logo Group" class="w-[200px] sm:w-[250px] md:w-[300px] h-auto object-contain" />
</div>
<!-- logo group   -->
<style>
  @media (max-width: 640px) {
    .w-full.flex {
      justify-content: space-between;
    }
  }
</style>
