# dependencies
/node_modules

# environment variables
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

config/serviceAccountKey.json
serviceAccountKey.json

fetch-data.js
generate-posters.js
generate-vouchers.js
generate-vouchers-checked.js
export.js

difference.csv
vouchers_export.csv
vouchers_export1.csv